body, html
  line-height:1
  font-weight:200
  font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif

.clearfix
  *zoom:1
  &:after,&:before
    display: table
    contetn: ' '
  &:after
    clear:both
